[Unit]
Description=Word Cloud Generator

[Service]
WorkingDirectory=/opt/wcg
ExecStart=/opt/wcg/word-cloud-generator
Restart=always

[Install]
WantedBy=multi-user.target